@CHARSET "UTF-8";

div.align-items-center{/* 見出しの中央揃え */
	text-align: center;
}

div.align-self-end{/* ログインユーザー表示を右寄せ*/
	text-align: right;
}


div#content{/* 親属性に高さを認識させる */
	overflow: hidden;
	width: 100%;
}

/* サイドバー */
div#nav{
	float: left;/* 左寄せで配置*/
	width: 29%;
	border-right: 1px solid;/* 縦線の表示 */
}

ul.nav{/* リストのスタイル指定 */
	list-style: none;
}

/* メイン要素 */
div#main{
	text-align: center;/* メニュー要素の中央揃え */
	float: right;/* 右寄せで配置 */
	width: 70%;
	overflow: hidden;
}

h2.menu{
	margin-bottom: 50px;
	background-color: #dbdbdb;
}

/* 学生管理、成績管理、科目管理を横並びで表示 */
div.stu{
	float: left;/* 左寄せで配置*/
	width: 33%;
}

div.test{
	float: left;/* 左寄せで配置*/
	width: 33%;
}

div.sub{
	float: left;/* 左寄せで配置*/
	width: 33%;
}

div.footer{/* フッターの中央揃え */
	text-align: center;
	background-color: #c0c0c0;
}